<section class="contenedor">
    <div class="contenedor-items">
        <div class="item">
            <app-card-pelicula></app-card-pelicula>
        </div>
        <div class="item">
            <app-card-pelicula></app-card-pelicula>
        </div>
        <div class="item">
            <app-card-pelicula></app-card-pelicula>
        </div>
        <div class="item">
            <app-card-pelicula></app-card-pelicula>
        </div>
        <div class="item">
            <app-card-pelicula></app-card-pelicula>
        </div>
        <div class="item">
            <app-card-pelicula></app-card-pelicula>
        </div>
        <div class="item">
            <app-card-pelicula></app-card-pelicula>
        </div>
        <div class="item">
            <app-card-pelicula></app-card-pelicula>
        </div>
        <div class="item">
            <app-card-pelicula></app-card-pelicula>
        </div>
        <div class="item">
            <app-card-pelicula></app-card-pelicula>
        </div>
        <div class="item">
            <app-card-pelicula></app-card-pelicula>
        </div>
        <div class="item">
            <app-card-pelicula></app-card-pelicula>
        </div>
    </div>
</section>