<div class="pull-right">
    <button class="btn btn-primary float-left"  (click)="CrearGenero()">  Registrar Generos</button>
</div>


<section class="contenedor">
    <div class="contenedor-items">
        <div class="item">
            <app-card-pelicula></app-card-pelicula>
        </div>
        <div class="item">
            <app-card-pelicula></app-card-pelicula>
        </div>
        <div class="item">
            <app-card-pelicula></app-card-pelicula>
        </div>
        <div class="item">
            <app-card-pelicula></app-card-pelicula>
        </div>
        <div class="item">
            <app-card-pelicula></app-card-pelicula>
        </div>
        <div class="item">
            <app-card-pelicula></app-card-pelicula>
        </div>
        <div class="item">
            <app-card-pelicula></app-card-pelicula>
        </div>
        <div class="item">
            <app-card-pelicula></app-card-pelicula>
        </div>
        <div class="item">
            <app-card-pelicula></app-card-pelicula>
        </div>
        <div class="item">
            <app-card-pelicula></app-card-pelicula>
        </div>
        <div class="item">
            <app-card-pelicula></app-card-pelicula>
        </div>
        <div class="item">
            <app-card-pelicula></app-card-pelicula>
        </div>
    </div>
</section>